body{
    padding-top: 50px;
    padding-bottom: 20px;
   }

#main > :first-child{
	margin-top: 30px;
}
.checked {
  color: orange;
}
.row1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: orangered;
}